# Node.js
node_modules/

# Dependency directories
/bower_components/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/

# IDE files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
